/*
    Document   : alterations
    Created on : Nov 3, 2013, 8:13:10 PM
    Author     : mariacha
    Description:
        Purpose of the stylesheet follows.
*/

html .site-name-fisherspdx {

  background: url('images/pattern3.gif') center top #fff;
  //background: url('images/pattern2.gif') center top #999999;

}

.site-name-fisherspdx #logo {
  padding: 0 20px 0 0;
}


.site-name-fisherspdx #logo img {
  border: 1px solid #b45f04;
}


#header {
  background: url('images/pattern3.gif') center top #fff;
  //background: url('images/pattern1.gif') center top #fff;
}

.site-name-fisherspdx .page #columns {
  background: #fffff0;
  border: 1px solid #ccc;
  box-shadow: 0 0 3px 3px #b45f04 inset;
}